body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "width" 100;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header img {
    height: max-content;
    max-height: 40px;
    margin-left: 50px;
}

.nav {
    display: flex;
    gap: 30px;
    align-items: center; 
    justify-content: center;
}

.nav a {
    font-size: 16px;    
    text-decoration: none;
    color: #D21885;
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; 
    left: 0; 
}

.dropdown-content a {
    color: #D21885;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid #CF388D;
    padding: 5px;
    border-radius: 25px;
    margin-right: 20px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 25px;
}

.search-bar i {
    color: #D21885;
}

.search-bar button {
    border: none;
    background: none;
    cursor: pointer;
}

.golden-line {
    height: 4px;
    background-color: #C49F24;
    margin: 0;
}

.golden-section {
    background: linear-gradient(to right, #CEAE37, #FFE3B3);
    padding: 20px 0;
    height: 0;
}

.banner {
    background-color: #D21885;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.banner .text {
    flex: 2;
    text-align: left;
}

.banner .text h1 {
    margin: 0;
    font-size: 48px;
}

.banner .text p {
    max-width: 600px;
    font-size: 24px;
    margin: 20px 0 0;
}

.banner .logo {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logo-unilever img {
    width: 750px;
    height: auto;
}


.banner .logo img {
    max-width: 200px;
}

.content {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.section {
    background-color: #D21885;
    padding: 5px 20px;
    text-align: center;
}

.section h2 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.section p {
    color: white;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 20px;
}

.section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.history {
    background-color: #D21885;
    padding: 5px 5px;
    text-align: center;
}

.history h2 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.history p {
    color: white;
    font-size: 25px;
    max-width: 800px;
    margin: 0 auto 20px;
}

.modern {
    background-color: #D21885;
    color: white;
    padding: 20px;
    display: flex; 
    align-items: left; 
    gap: 200px; 
    text-align: left; 
}

.modern img {
    max-width: 100%;
    height: auto;
}

.modern .text {
    flex: 1; 
    text-align: left;
    margin-left: 50px;
}

.modern h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.modern p {
    font-size: 18px; 
}

.footer {
    background-color: #fff;
    color: #D21885;
    padding: 10px 0;
    text-align: center;
    border-top: 4px solid #D21885;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto; 
    max-width: 1200px; 
}

.footer .container div {
    flex: 1;
    margin: 10px;
    min-width: 200px;
    text-align: left; 
}

.footer .shop-now h3,
.footer .navigation h3,
.footer .join-pack h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center; 
}

.footer .shop-now img {
    display: block;
    margin: 0 auto; 
    width: auto; 
    height: 40px; 
    padding: 5px; 
}

.footer .navigation ul {
    list-style: none;
    padding: 0;
    text-align: center; 
}

.footer .navigation ul li {
    margin: 10px 0;
}

.footer .navigation ul li a {
    color: #D21885 ;
    text-decoration: none;
    margin-left: 0;
    text-align: center;
}

.footer .join-pack p {
    font-size: 14px;
    color: #D21885;
    margin: 10px 0;
    text-align: justify;
}

.footer .join-pack input {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
    border: 1px solid #D21885;
    color: #D21885;
}

.footer .join-pack button {
    padding: 10px;
    width: calc(110% - 32px);
    background-color: #D21885;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer .bottom {
    background-color: #D21885;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
}

.footer .bottom a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons {
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 30px;
    margin: 0 10px;
    margin-left: 30px;
    color: #D21885;
}

@media (max-width: 768px) {
    .header img {
        max-height: 50px;
    }
    .search-bar {
        width: 300px;
        margin-right: 10%;
    }
    .nav a{
        font-size: 24px;
        margin-left: 200px;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
    }
    .search-bar input {
        width: 100%; 
    }
    .banner-content {
        flex-direction: column;
        text-align: center;
    }

    .banner .text {
        flex: 1;
    }

    .banner .text h1 {
        font-size: 32px;
    }

    .banner .text p {
        font-size: 18px;
    }

    .banner .logo {
        flex: 1;
        margin-top: 20px;
    }

    .footer .container {
        justify-content: center;
    }

    .footer .container div {
        min-width: 250px;
        text-align: left; 
    }

    .footer .shop-now h3,
    .footer .navigation h3,
    .footer .join-pack h3 {
        text-align: center; 
    }

    .footer .shop-now img {
        margin: 0 auto; 
    }

    .footer .navigation ul {
        text-align: center; 
    }

    .footer .navigation ul li a {
        text-align: center;
    }

    .footer .join-pack p {
        text-align: justify;
    }

    .modern {
        flex-direction: column; 
        text-align: center; 
    }

    .modern img {
        max-width: 100%; 
    }

    .modern .text {
        margin-top: 20px;
        text-align: center;
    }
}

